---
title: Writing
stylesheetPaths: ['writing']
---

<h1>
  Writing
</h1>

<div class='row'>
  <div class='column size25'>
    <nav class='editions'>
      <h2>
        Tales
      </h2>
      <ul>
        {% for tale in site.tales %}
          <li>
            <a href='{{tale.url}}' target='viewer'>
              {{tale.title}}
            </a>
          </li>
        {% endfor %}
      </ul>

      <h2>
        College House Newsletters
      </h2>
      <ul>
        {% assign files = site.static_files | where: 'collegeHouseNewsletter', true | reverse %}
        {% for file in files %}
          <li>
            <a href='{{file.path}}' target='viewer'>
             {{file.basename | replace_first: '_', ' - ' | replace: '_', ' '}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class='column size75'>
    <iframe name='viewer' src='/tales/darkland'></iframe>
  </div>
</div>
