---
---

.reveal {
  h1, h2, h3, h4, h5, h6 {
    text-transform: none;
  }
}

.reveal pre {
  font-size: .5em;
  white-space: normal;
  > code {
    white-space: pre;
  }

  &.small {
    font-size: .45em;
  }
}

.reveal ul.small li {
  font-size: 30px;
}
